.place__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  max-width: calc(100% - (16px * 2));
  margin: 0 auto;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    max-width: calc(50% - 14px);
    margin: 0 28px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 106%;
    max-width: calc(50% - 16px);
  }
}

@media screen and (min-width: 1184px) {
  .place__title {
    max-width: calc(50% - 1.25em);
    margin-right: 1.25em;
  }
}
