.photo-grid {
  display: flex;
  flex-flow: row wrap;
  padding-top: 64px;
  gap: 12px;
  margin: 0 auto;
  max-width: calc(100% - (16px * 2));
}

@media screen and (min-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    gap: 16px;
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    padding-top: 92px;
    gap: 14px;
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (min-width: 1184px) {
  .photo-grid {
    gap: 16px;
  }
}
