.places {
  padding-top: 64px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .places {
    padding-top: 88px;
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding-top: 92px;
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (min-width: 1184px) {
  .places {
    padding-top: 92px;
    max-width: calc(100% - ((148px - 48px) * 2));
  }
}
