.place__image {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .place__image {
    margin: 0 1.75em 0 0;
    max-width: calc(50% - 1.75em);
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    margin: 0 2em 0 0;
    max-width: calc(50% - 2em);
  }
}

@media screen and (min-width: 1184px) {
  .place__image {
    margin: 0 2.5em 0 0;
    max-width: calc(50% - 2.5em);
  }
}
