.place__paragraphs {
  padding-top: 32px;
  line-height: 163%;
  max-width: calc(100% - (16px * 2));
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .place__paragraphs {
    padding: 0;
    margin: 0;
    width: calc(50% - 14px);
  }
}

@media screen and (min-width: 1024px) {
  .paragraphs {
    line-height: 163%;
  }
}
