.lead__image {
  background-image: url(../../../images/lead-mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    min-height: 580px;
    padding-top: 56px;
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (min-width: 1184px) {
  .lead__image {
    min-height: 615px;
    max-width: calc(100% - ((148px - 48px) * 2));
  }
}
