.cover {
  margin: 64px 0;
}

@media screen and (min-width:  768px) {
  .cover {
    margin: 88px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px 0;
  }
}

@media screen and (min-width:  1184px) {
  .cover {
    margin: 92px 48px;
  }
}
