.cover {
  padding-top: 64px;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 650px) {
  .cover {
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 92px;
  }
}

@media screen and (min-width: 1184px) {
  .cover {
    padding-top: 92px;
  }
}
