.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 12px 0;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 20px;
  }
}
